.root {
    margin: 0 auto;
    h2 {
        text-align: center;
    }
    .wrapper {

        max-width: 900px;
        height: 400px;
        margin: 0 auto;
        // border: 1px solid #2008f8;

        .imgCat {
        //    transform: translate(10px, 10px);
// position: relative;

        }
    }
}
