.root {
    margin: 0 auto;
    h2 {
        text-align: center;
    }
    .wrapper {

        max-width: 900px;
        height: 400px;
        margin: 0 auto;
        // border: 1px solid #2008f8;

        .imgCat {
        //    transform: translate(10px, 10px);
// position: relative;

        }
    }
    .alert {
        font-size: 70px;
        letter-spacing: 3px;
        font-weight: bolder;
        color: blue;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba($color: #95c1df, $alpha: 0.3);
        // text-align: center;

    }
    .alert_div {
        position: relative;
        top: 35%;
        left: 15%;
    }
}

